<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- 
      The connectionStringName attribute in the <errorLog /> section below 
      determines which connection string here is used.
    -->
    <add name="elmah-express" connectionString="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|errorlog.mdf; Database=errorlog;Trusted_Connection=Yes;"/>
    <add name="elmah-sql" connectionString="Server=localhost;Database=errorlog;Trusted_Connection=True;"/>
  </connectionStrings>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah-express"/>
    <!-- Don't log 404 -->
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" valueType="Int32"/>
      </test>
    </errorFilter>
    <!--
            Use to send error reports by e-mail and adjust the attributes
            according to settings desired. Note that only the from and
            to attributes are required. The rest are optional and may
            be removed. If the SMTP server does not require authentication,
            you MUST remove the userName and password attributes or
            set them to empty values (resulting in zero-length strings).

        <errorMail 
            from="elmah@example.com" 
            to="admin@example.com" 
            subject="..."
            async="true|false"
            smtpPort="25"
            smtpServer="smtp.example.com" 
            userName="johndoe"
            password="secret" />
        -->
  </elmah>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error.aspx"/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <!-- 
                Uncomment the entries below if error mail reporting 
                and filtering is desired.
            -->
      <!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />-->
      <!--<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>-->
    </httpModules>
    <httpHandlers>
      <!-- 
                This entry provides the UI for the error log at
                elmah.axd below the application path. For example,
                if your domain is www.example.com and your application
                is at the root, then you can view the error log by
                visiting the following URL:
                
                http://www.example.com/admin/elmah.axd
            -->
      <add verb="POST,GET,HEAD" path="/admin/elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <authentication mode="Forms">
      <forms name=".auth-cookie" loginUrl="login.aspx" protection="All" requireSSL="false" slidingExpiration="true" timeout="30">
        <credentials passwordFormat="Clear">
          <user name="whatever" password="password"/>
        </credentials>
      </forms>
      <!--86400 minutes is approx 60 days-->
    </authentication>
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- Deny unauthenticated users to see the elmah.axd -->
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>